<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">
	
	<resultMap type="member" id="adminMember">
		<result column="MEMBER_NO" property="memberNo" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="NICKNAME" property="nickName" />
		<result column="BIRTH" property="birth" />
		<result column="GENDER" property="gender" />
		<result column="EMAIL" property="email" />
		<result column="PHONE" property="phone" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	<resultMap type="memberCategory" id="memberCategory">
		<result column="MEMBER_NO" property="memberNo" />
		<result column="CATEGORY_NO" property="categoryNo" />
	</resultMap>
	
	<resultMap type="category" id="category">
		<result column="CATEGORY_NO" property="categoryNo" />
		<result column="CATEGORY_TYPE_NAME" property="categoryTypeName" />
		<result column="CATEGORY_NAME" property="categoryName" />
	</resultMap>
	
	
	<resultMap type="brand" id="brandResultMap">
		<result column="BRAND_NO" property="brandNo" />
		<result column="BRAND_NAME" property="brandName" />
		<result column="BRAND_URL" property="brandUrl" />
		<result column="BRAND_INFO" property="brandInfo" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATUS" property="status" />
		<result column="IMGSRC" property="imgSrc"/>
	</resultMap>
	
	<resultMap type="brandAttachment" id="brandAttachment">
		<result column="FILE_NO" property="fileNo" />
		<result column="BRAND_NO" property="brandNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="FILE_PATH" property="filePath" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	<resultMap type="brandCategory" id="brandCategory">
		<result column="BRAND_NO" property="brandNo" />
		<result column="CATEGORY_NO" property="categoryNo" />
	</resultMap>
	
	<select id="MemberList" resultMap="adminMember">
		SELECT MEMBER_NO
				,MEMBER_ID
				,MEMBER_NAME
				,EMAIL
				,PHONE
				,CREATE_DATE
		FROM MEMBER
		WHERE STATUS = 'Y'
	</select>
	
	<select id="MemberDetail" resultMap="adminMember">
		SELECT MEMBER_NO
					,MEMBER_ID
	                ,MEMBER_NAME
	                ,NICKNAME
	                ,EMAIL
	                ,BIRTH
	                ,PHONE
		FROM MEMBER
		WHERE MEMBER_NO = #{mno}
		AND STATUS = 'Y'
	</select>
	
	<select id="MemberCategory" resultMap="category"> 
		SELECT C.CATEGORY_NO
	            ,C.CATEGORY_TYPE_NAME
	            ,C.CATEGORY_NAME
		FROM CATEGORY C
		JOIN MEMBER_CATEGORY MC ON  (C.CATEGORY_NO = MC.CATEGORY_NO)
		WHERE MEMBER_NO = #{mno}
	</select>
	
	<update id="updateMember">
		UPDATE MEMBER
		SET MEMBER_NAME = #{memberName}
		        ,NICKNAME = #{nickName}
		        ,EMAIL = #{email}
		        ,BIRTH = #{birth}
		        ,PHONE = #{phone}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<delete id="deleteMemberCategory">
		DELETE FROM MEMBER_CATEGORY
		WHERE MEMBER_NO = #{memberNo}
	</delete>
	
	<insert id="insertMemberCategory" parameterType="member">	
	  <foreach collection="categoryNo" item="category"  open="INSERT ALL" close="SELECT * FROM DUAL">
	    INTO MEMBER_CATEGORY(MEMBER_NO, CATEGORY_NO)
	    		     VALUES (#{memberNo},#{category})
	  </foreach>
	</insert>
	
	<update id="deleteMember" parameterType="_int">
		UPDATE MEMBER
		SET STATUS = 'N'
		WHERE MEMBER_NO = #{mno}
		AND STATUS = 'Y'
	</update>


	<insert id="insertBrand" parameterType="brand">
	INSERT INTO BRAND (BRAND_NO
                      ,BRAND_NAME
                      ,BRAND_URL
                      ,BRAND_INFO)
               VALUES (SEQ_BNO.NEXTVAL
                       ,#{brandName}
                       ,#{brandUrl}
                       ,#{brandInfo}
                       )
	</insert>
	
	
	<insert id="insertBrandCategory" parameterType="brand">	
	  <foreach collection="categoryNo" item="category"  open="INSERT ALL" close="SELECT * FROM DUAL">
	    INTO BRAND_CATEGORY(BRAND_NO, CATEGORY_NO)
	    		     VALUES (SEQ_BNO.CURRVAL,#{category})
	  </foreach>
	</insert>
	
	<insert id="insertBrandAttachment" parameterType="brandAttachment">
		INSERT INTO ATTACHMENT (FILE_NO
						,BRAND_NO
						,ORIGIN_NAME
						,CHANGE_NAME
						,FILE_PATH)
				VALUES(SEQ_ANO.NEXTVAL
						,SEQ_BNO.CURRVAL
						,#{originName}
						,#{changeName}
						,#{filePath})
	</insert>
	
	<select id="brandList" resultMap="brandResultMap">
		SELECT BRAND_NO
                ,BRAND_NAME
                ,BRAND_INFO
                ,FILE_PATH || CHANGE_NAME IMGSRC
		FROM BRAND B
		JOIN ATTACHMENT AT USING (BRAND_NO)
		WHERE B.STATUS = 'Y'
		ORDER BY B.CREATE_DATE DESC
	</select>
	
	<select id="selectBrand" resultMap="brandResultMap">
		SELECT BRAND_NO
				,BRAND_NAME
				,BRAND_URL
				,BRAND_INFO
		FROM BRAND 
		WHERE BRAND_NO = #{bno}
		AND STATUS = 'Y'
	</select>
	
	<select id="selectBrandAttachment" resultMap="brandAttachment">
		SELECT FILE_NO
				,ORIGIN_NAME
				,CHANGE_NAME
				,FILE_PATH
		FROM ATTACHMENT
		WHERE BRAND_NO = #{bno}
		AND STATUS = 'Y'
	</select>
	
	<select id="BrandCategory" resultMap="category"> 
		SELECT C.CATEGORY_NO
	            ,C.CATEGORY_TYPE_NAME
	            ,C.CATEGORY_NAME
		FROM CATEGORY C
		JOIN BRAND_CATEGORY BC ON  (C.CATEGORY_NO = BC.CATEGORY_NO)
		WHERE BRAND_NO = #{bno}
	</select>
	
	<update id="updateBrand" parameterType="brand">
		UPDATE BRAND
		SET BRAND_NAME = #{brandName}
			,BRAND_URL = #{brandUrl}
			,BRAND_INFO = #{brandInfo}
		WHERE BRAND_NO = #{brandNo}
		AND STATUS = 'Y'
	</update>
	
	
	<delete id="deleteBrandCategory">
		DELETE FROM BRAND_CATEGORY
		WHERE BRAND_NO = #{brandNo}
	</delete>
	
	<insert id="insertNewBrandCategory" parameterType="brand">	
	  <foreach collection="categoryNo" item="category"  open="INSERT ALL" close="SELECT * FROM DUAL">
	    INTO BRAND_CATEGORY(BRAND_NO, CATEGORY_NO)
	    		     VALUES (#{brandNo},#{category})
	  </foreach>
	</insert>
	
	<update id="updateBrandAttachment" parameterType="brandAttachment">
		UPDATE ATTACHMENT
		SET ORIGIN_NAME = #{originName}
			,CHANGE_NAME = #{changeName}
		WHERE BRAND_NO = #{brandNo}
	</update>
	
	<update id="deleteBrand">
		UPDATE BRAND
		SET STATUS = 'N'
		WHERE BRAND_NO = #{bno}
		AND STATUS = 'Y'
	
	</update>
	
	
	<select id="brandListCount" resultType="_int">
		 SELECT COUNT(*) FROM
        BRAND WHERE STATUS = 'Y'
	</select>
	</mapper>