<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="moizaMapper">
    <resultMap type="moiza" id="moiza">
  			<result column="MOIZA_NO" property="moizaNo"/>
  			<result column="MOIZA_NAME" property="moizaName"/>
  			<result column="MOIZA_TITLE" property="moizaTitle"/>
  			<result column="MOIZA_GOAL" property="moizaGoal"/>
  			<result column="MOIZA_MISSION" property="moizaMission"/>
  			<result column="MOIZA_INFO" property="moizaInfo"/>
  			<result column="CREATE_DATE" property="createDate"/>
  			<result column="STATUS" property="status"/>
  		</resultMap>
  		
	  	<resultMap type="moizaCategory" id="moizaCategory">
			<result column="MOIZA_NO" property="moizaNo" />
			<result column="CATEGORY_NO" property="categoryNo" />
		</resultMap>
		
		<resultMap type="moizaMember" id="moizaMember">
			<result column="MOIZA_NO" property="moizaNo" />
			<result column="MEMBER_NO" property="memberNo" />
			<result column="MEMBER_LEVEL" property="memberLevel" />
			<result column="APPROVAL_STATUS" property="approvalStatus" />
			<result column="CREATE_DATE" property="createDate"/>
			<result column="DELETE_DATE" property="deleteDate"/>
		</resultMap>
		
		
		<resultMap type="member" id="memberResultSet">
	  			<result column="MEMBER_NO" property="memberNo"/>
	  			<result column="MEMBER_ID" property="memberId"/>
	  			<result column="MEMBER_PWD" property="memberPwd"/>
	  			<result column="MEMBER_NAME" property="memberName"/>
	  			<result column="NICKNAME" property="nickName"/>
	  			<result column="BIRTH" property="birth"/>
	  			<result column="GENDER" property="gender"/>
	  			<result column="EMAIL" property="email"/>
	  			<result column="PHONE" property="phone"/>
	  			<result column="CREATE_DATE" property="createDate"/>
	  			<result column="STATUS" property="status"/>
	  		</resultMap>
  		<select id="selectMoizaList" resultMap="moiza">
	  		SELECT MOIZA_NO
	                ,MOIZA_NAME
	                ,MOIZA_TITLE
	                ,MOIZA_GOAL
	                ,MOIZA_MISSION
	                ,MOIZA_INFO
			FROM MOIZA
			WHERE STATUS = 'Y'
			ORDER BY CREATE_DATE DESC
  		</select>
  		
    	<insert id="insertMoiza" parameterType="moiza">
    		INSERT INTO MOIZA (MOIZA_NO
                               ,MOIZA_NAME
                               ,MOIZA_TITLE
                               ,MOIZA_GOAL
                               ,MOIZA_MISSION
                               ,MOIZA_INFO)
                                VALUES(SEQ_MZNO.NEXTVAL
                                  		 ,#{moizaName}
                                  		 ,#{moizaTitle}
                                         ,#{moizaGoal}
                                         ,#{moizaMission}
                                         ,#{moizaInfo})
    	</insert>
    	
    	<insert id="insertMoizaCreator" parameterType="moizaMember">
    	INSERT INTO MOIZA_MEMBER(MOIZA_NO
                                ,MEMBER_NO
                                ,MEMBER_LEVEL
                                ,APPROVAL_STATUS)
                        VALUES(SEQ_MZNO.CURRVAL
                                ,#{memberNo}
                                ,1
                                ,1)
    	</insert>
    	
    	
    	<insert id="insertMoizaCategory" parameterType="moiza">	
	  		<foreach collection="categoryNo" item="category"  open="INSERT ALL" close="SELECT * FROM DUAL">
	    	INTO MOIZA_CATEGORY(MOIZA_NO, CATEGORY_NO)
	    		     VALUES (SEQ_MZNO.CURRVAL,#{category})
	  		</foreach>
		</insert>
		
		<select id="selectMoizaDetail" resultMap="moiza">
			SELECT MOIZA_NO
                ,MOIZA_NAME
                ,MOIZA_TITLE
                ,MOIZA_MISSION
                ,MOIZA_GOAL
                ,MOIZA_INFO
			FROM MOIZA
			WHERE MOIZA_NO = #{mno}
			AND STATUS = 'Y'
		</select>
		
		<select id="selectMoizaCategory" resultMap="moizaCategory">
			SELECT C.CATEGORY_NO
	            ,C.CATEGORY_TYPE_NAME
	            ,C.CATEGORY_NAME
			FROM CATEGORY C
			JOIN MOIZA_CATEGORY MC ON  (C.CATEGORY_NO = MC.CATEGORY_NO)
			WHERE MOIZA_NO = #{mno}
		</select>
		
		
		<select id="selectMoizaCreator" resultMap="moizaMember">
			SELECT MEMBER_NO
			FROM MOIZA_MEMBER
			WHERE MOIZA_NO = #{mno}
			AND MEMBER_LEVEL = 1
		</select>
		
		<update id="updateMoiza" parameterType="moiza">
			UPDATE MOIZA
			SET MOIZA_NAME = #{moizaName}
			        ,MOIZA_TITLE = #{moizaTitle}
			        ,MOIZA_MISSION = #{moizaMission}
			        ,MOIZA_GOAL= #{moizaGoal}
			        ,MOIZA_INFO =#{moizaInfo}
			WHERE MOIZA_NO = #{moizaNo}
			AND STATUS = 'Y'
		</update>
		
		<delete id="deleteMoizaCategory">
			DELETE FROM MOIZA_CATEGORY
			WHERE MOIZA_NO = #{moizaNo}
		</delete>
		
		
		<insert id="insertNewMoizaCategory" parameterType="moiza">	
	  		<foreach collection="categoryNo" item="category"  open="INSERT ALL" close="SELECT * FROM DUAL">
	    	INTO MOIZA_CATEGORY(MOIZA_NO, CATEGORY_NO)
	    		     VALUES (#{moizaNo},#{category})
	  		</foreach>
		</insert>
		
		
		
		<update id="deleteMoiza" parameterType="_int">
			UPDATE MOIZA
			SET STATUS = 'N'
			WHERE MOIZA_NO = #{mno}
			AND STATUS = 'Y'
		</update>
		
		<insert id="insertMoizaMember">
			INSERT INTO MOIZA_MEMBER (MOIZA_NO  
                                      ,MEMBER_NO
                                      ,MEMBER_LEVEL
                                      ,APPROVAL_STATUS)
                                    VALUES(#{moizaNo}
                                    		,#{memberNo}
                                    		,2
                                    		,0)
		</insert>
		
		
		<select id="selectMoizaMember" resultMap="memberResultSet">
			SELECT 	MEMBER_NO
					,MEMBER_ID
	                ,MEMBER_NAME
	                ,EMAIL
			FROM MOIZA_MEMBER MM
			JOIN MEMBER M USING (MEMBER_NO)
			JOIN MOIZA MZ USING (MOIZA_NO)
			WHERE MOIZA_NO = #{mno}
			AND APPROVAL_STATUS = 1
			AND DELETE_DATE IS NULL
			ORDER BY MZ.CREATE_DATE DESC
		</select>
		
		
		<select id="selectMoizaApplyMember" resultMap="memberResultSet">
			SELECT 	MEMBER_NO
					,MEMBER_ID
	                ,MEMBER_NAME
	                ,EMAIL
			FROM MOIZA_MEMBER MM
			JOIN MEMBER M USING (MEMBER_NO)
			JOIN MOIZA MZ USING (MOIZA_NO)
			WHERE MOIZA_NO = #{mno}
			AND APPROVAL_STATUS = 0
			AND DELETE_DATE IS NULL
			ORDER BY MZ.CREATE_DATE DESC
		</select>
		
		<select id="selectMoizaHoldMember" resultMap="memberResultSet">
			SELECT 	MEMBER_NO
					,MEMBER_ID
	                ,MEMBER_NAME
	                ,EMAIL
			FROM MOIZA_MEMBER MM
			JOIN MEMBER M USING (MEMBER_NO)
			JOIN MOIZA MZ USING (MOIZA_NO)
			WHERE MOIZA_NO = #{mno}
			AND APPROVAL_STATUS = 2
			AND DELETE_DATE IS NULL
			ORDER BY MZ.CREATE_DATE DESC
		</select>
		
		
		<update id="holdMember">
			UPDATE MOIZA_MEMBER
			SET APPROVAL_STATUS = 2
			WHERE MEMBER_NO = #{memberNo}
			AND MOIZA_NO = #{moizaNo}
			AND DELETE_DATE IS NULL
		</update>
		
		
		<delete id="deleteApplyMember">
			DELETE FROM MOIZA_MEMBER
			WHERE MEMBER_NO = #{memberNo}
			AND MOIZA_NO = #{moizaNo}
		</delete>
		
		<update id="acceptApplyMember">
			UPDATE MOIZA_MEMBER
			SET APPROVAL_STATUS = 1
			WHERE MEMBER_NO = #{memberNo}
			AND MOIZA_NO = #{moizaNo}
			AND DELETE_DATE IS NULL
		</update>
		
		<update id="deleteMember">
			UPDATE MOIZA_MEMBER
			SET DELETE_DATE = SYSDATE
			WHERE MEMBER_NO = #{memberNo}
			AND MOIZA_NO = #{moizaNo}
		</update>
		
		<select id="moizaListCount" resultType="_int">
			 SELECT COUNT(*) FROM
	         MOIZA WHERE STATUS = 'Y'
		</select>
		
		
		<select id="selectMoiza" resultMap="moiza">
			SELECT MOIZA_NO
			FROM MOIZA
			JOIN MOIZA_MEMBER USING (MOIZA_NO)
			WHERE MEMBER_NO = #{memberNo}
			AND APPROVAL_STATUS =1
		</select>

				<!-- 검색창 -->
		<select id="searchMoiza" resultMap="moiza">
		    SELECT * FROM(
            select m.* from moiza m
            where m.moiza_name like '%'||#{keyword}||'%' or m.moiza_goal like '%'||#{keyword}||'%')
            WHERE ROWNUM &lt; =3
		</select>
		
		<!-- 마이페이지에서 띄워줄 리스트 -->
		<select id="myMoizaList" resultMap="moiza">
		SELECT *
		FROM MOIZA M
		JOIN MOIZA_MEMBER MM USING(MOIZA_NO)
		WHERE MEMBER_NO = #{mno}
		AND APPROVAL_STATUS =1
		</select>
		
		
    </mapper>