<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- configuration(환경설정) DTD: 유효성체크 -->
<configuration>
	<!-- settings : mybatis 구동시 선언할 설정 작성 -->
	<settings>
		<!-- null로 전달시 빈칸이 아닌 null로 인식 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.littleEco.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.littleEco.recycleboard.model.vo.recycleBoard" alias="recycleBoard"/>
		<typeAlias type="com.kh.littleEco.searchEco.model.vo.SearchEco" alias="searchEco"/>
		<typeAlias type="com.kh.littleEco.recycleboard.model.vo.boardAttachment" alias="boardAttachment"/>
		</typeAliases>
</configuration>